body{
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-size: smaller;
    width: 250px;
}
h5{
    margin-bottom: 0;
}
ul{
    list-style-type: none;
}
.testa{
    display: flex;
    justify-content: space-around;
    background-color: #F8F7F2;
    height: 220px;
    border-bottom: solid #AE7E5E;
}
#img{
    margin-left: 50px;
}
#cognome{
    color: #6B4C3A;
    border-bottom: solid #AE7E5E;
    height: 60px;
}
#professione{
    font-weight: 200;
    color: #6B4C3A;
}
.contenuti{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    margin-left: 170px;
    margin-right: 30px;
}
.st{
    margin-top: 50px;
    color: #473C38;
    height: 40px;
    margin-bottom: -15px;
}
#scuola{
    color: #473C38;
    font-weight: 800;
}
.sezione{
    margin: 0;
}
#grid1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#grid2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#grid3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#grid4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#grid5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#grid6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#privacy{
    position: absolute;
    right: 25%;
    margin-top: 100px;
}
#normativa{
    font-size: xx-small;
}

.input{
    margin-top: 200px;

}
fieldset{
    background-color: #F8F7F2;
    color: #473C38;
}

